@model CreateTrainerViewModel
<div class="container mt-4">
    <header class="mb-4">
        <h3 class="text-primary-color">Add New Trainer</h3>
    </header>

    <form asp-action="Create" method="post">

        @Html.ValidationMessage("DataInvalid", new { @class = "text-center  w-100 fs-5 text-danger" })

        <!-- Trainer Info -->
        <div class="section-header  mb-3">
            <h5 class="text-primary fw-bold">Personal Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <label asp-for="Name" for="name" class="form-label">Name</label>
                <input asp-for="Name" id="name" name="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Email" for="email" class="form-label">Email</label>
                <input asp-for="Email" id="email" name="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Phone"  for="" class="form-label">Phone</label>
                <input asp-for="Phone"  id="phone" name="Phone" type="text" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="DateOfBirth" for="dateOfBirth" class="form-label">DateOfBirth</label>
                <input asp-for="DateOfBirth" id="dateOfBirth" name="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label">Gender</label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" name="Gender" class="form-select">
                    <option value="">-- Select Gender --</option>
                </select>
            </div>

        </div>
        <div class="section-header mb-3 mt-4">
            <h5 class="text-primary fw-bold">Address Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">

            <div class="col-12 col-md-6">
                <label asp-for="BuildingNumber" for="BuildingNumber" class="form-label">BuildingNumber</label>
                <input asp-for="BuildingNumber" id="BuildingNumber" name="BuildingNumber" type="text" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Street" for="Street" class="form-label">Street</label>
                <input asp-for="Street" id="Street" name="Street" type="text" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="City" for="City" class="form-label">City</label>
                <input asp-for="City" id="City" name="City" type="text" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <!-- Professional Information -->
        <div class="section-header mb-3">
            <h5 class="text-primary fw-bold">Professional Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label fw-semibold">
                    Specializations <span class="text-danger">*</span>
                </label>

                <div class="form-check">
                    <input asp-for="Specialties" id="generalFitness" class="form-check-input" type="radio" name="Specialties" value="GeneralFitness" />
                    <label asp-for="Specialties" for="generalFitness" class="form-check-label">GeneralFitness</label>
                </div>
                <div class="form-check">
                    <input asp-for="Specialties" id="yoga" class="form-check-input" type="radio" name="Specialties" value="Yoga" />
                    <label asp-for="Specialties" for="yoga" class="form-check-label">Yoga</label>
                </div>
                <div class="form-check">
                    <input asp-for="Specialties" id="boxing" class="form-check-input" type="radio" name="Specialties" value="Boxing" />
                    <label asp-for="Specialties" for="boxing" class="form-check-label">Boxing</label>
                </div>
                <div class="form-check">
                    <input asp-for="Specialties" id="crossFit" class="form-check-input" type="radio" name="Specialties" value="CrossFit" />
                    <label asp-for="Specialties" for="crossFit" class="form-check-label">CrossFit</label>
                </div>
                <span asp-validation-for="Specialties" class="text-danger"></span>
            </div>
        </div>

        <footer class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-fill">Add</button>
        </footer>
    </form>

</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}